<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
        
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <p>Where would you like to travel?</p>
                    <input required id="location" type="text" name="input" value="" onblur="onBlur()" placeholder="Where would you like to go?">
                    <p>When would you like to travel?</p>
                    <input required id="trip-date" type="date" placeholder="When are you planning to arrive?">
                    <input type="submit" name="" value="submit" onsubmit="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <input type="button" id="clear-trips" name="" value="Clear Trips" onclick="return Client.clearTrips()">
                </form>
            </section>
        

            <section>
                <strong></strong>
                <div id="save-delete">
                    <!--Buttons to save or delete trip populate here-->
                </div>
                <div id="results">
                <!--This is where the trip info will post to--> 
                </div>
                
            </section>
            
            
            <section>
                <div class="saved-trips">
                    <p>Upcoming trips</p>
                    <ul id="saved-trips">
                    <!--This is where the saved trips will populate-->
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
            <!--<button>This is a button</button>-->
        </footer>
        <!--
            ***uncomment in final stages***
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
        -->
    </body>
</html>
