form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.submit-holder {
    text-align: center;
    padding: 12px;
}

.caption-holder {
    text-align: center;
    padding: 20px 5px 20px 5px;
}

#save, #delete {
    cursor: pointer;
}

#saved-trip {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 3rem;
}

#upcoming-trips {
    display: flex;
    flex-direction: column;
    place-items: center;
}
